@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/

    --first-color: hsl(219, 69%, 56%);
    --first-color-alt: hsl(219, 69%, 52%);
    --title-color: hsl(219, 8%, 95%);
    --text-color: hsl(219, 8%, 75%);
    --text-color-light: hsl(219, 4%, 55%);
    --white-color: #fff;
    --body-color: hsl(219, 4%, 4%);
    --container-color: hsl(219, 4%, 7%);
}
 body{
  overflow-x: hidden;
} 


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

.container{
    padding: 3% 7%;
}
/* ---------------home------------- */
.home{
  height: 100vh;
}
header{
  position: absolute;
  z-index: 1000;
  width: 100%;
}

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
header .nav-list li{
  padding-bottom: 10px;
}
header .nav-list li.active{
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.652);
  border-radius: 50%;
}
header *{
  color: rgba(255, 255, 255, 0.652);
}

header .menu{
  display: none;
}





.slideshow-text .item{
  color:#fff;
}


@media (max-width:767px) {
  header .nav-list{
    /* height: 20vh; */
    width: 0%;
    background-color: #fff;
    flex-direction: column;
    display: block;
    position:fixed;
    top: 0;
    right: 0;
  }
  header .nav-list.active{
    padding: 20px;
    width: 100%;
    
  }
  header .nav-list *{
    color: #000;
  }
  header .menu{
   
    display: block;
  }
  header .container{
    padding-top: 7%;
  }
  .slide .main-con{
    padding: 20px;
  }
  .slide .text div{
    font-size: 1rem;
    -webkit-text-stroke: .5px white
    /* display: block; */
  }
  .slide .text div:last-of-type{

  }
  .slide .text div:last-of-type span{
    font-size: 1rem;

  }
  .slide .image-holder{
    top: -20px;
  }
  .slide .image-holder img{
    width: 100%;
  }
  .slide .image-holder .spec{
    width: 80%;
  }
  .slide .text div:first-of-type span{
  }
}
  
@keyframes mobileappear{
  0%{

    margin-bottom: -90px;
  }
  20%{
    margin-bottom: 0px;
    
  }
  80%{
    margin-bottom: 0px;

  }
  100%{
    margin-bottom: 0px;
  }
}

  
  .brands {
    padding-block: 3%; /* Add padding as needed */
    overflow: hidden;
}
.brands .container{

    position: relative;
}
.head{

  padding-block: 1%;
}
.head h1{
  position: relative;
  font-size: 4rem;
  /* text-align: center; Center align the content */
}
.head h1:before{
    content: "";
    position: absolute;
    left: 0px;
    
    bottom: -10px;
    width: 20%;
    height: 10px;
    border-radius: 20px;
    background-color: #fff;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;

}
.brands .row .col{
    flex-basis: calc(100% / 2);
    padding: 20px;
}
.brands .row .col img{
    width: 100%;
}

.bacg{
  position: absolute;
  left: 0%;
  top: 50%;
  width: 100%;
  z-index: -10;

}
.bacg .text-holder{
  text-align: center;
    font-size: 5rem;
    white-space: nowrap;
  }
  .bacg .text-holder h1{
  color:#303030;

}
@media (max-width:767px){
    .brands .head h1{
        font-size: 2rem;
    }
    .brands .head h1:before{
        width: 10%;
    }
    .brands .row .col{
        flex-basis: 100%;
    }
}
.products .container{
  position: relative;
}
.products .col{
  /* margin: auto; */
  flex-basis: calc(95% / 3);
  background-color: #111111;
  padding: 10px;
  border-radius: 10px;
}
.products .col .name{
  margin-block: 15px;
  text-align: center;
}
.products .col .image-holder{
  width: 100%;
}
.products .col .image-holder img{
  width: 100%;
  border-radius: 5px;
}
.products .row{
  height: 100%;
  flex-wrap: wrap;
  gap: 10px;
  justify-content:baseline;
}

.products .col .description *{
  display: inline;
}






.about{
  position: relative;
}

.about .col{
  flex-basis: calc(95% / 2);
  margin-inline: 10px;
}
.about .col img{
  width: 100%;
  border-radius: 10px;
}
*{
  color:#000;
}